{{ with .Site.Params.profile -}}
<section class="profile">
  <div class="portrait">
    <a href="/">
      <div class="spinner"></div>
      <div class="img" style="background-image: url('{{ .portrait | default "/images/portrait-default.jpg" | relURL }}')"></div>
    </a>
  </div>
  <h1 class="name">{{ .firstname }} <b>{{ .lastname }}</b></h1>
  {{ with .title -}}
  <h2 class="title">{{ . }}</h2>
  {{- end }}
  {{- with .bio -}}
  <span class="bio">{{ . | markdownify }}</span>
  {{- end }}
</section>
{{- end }}
